<template>
  <v-alert
    elevation="5"
    type="error"
    :value="true"
    transition="scale-transition"
    style="position: absolute; right: 40px; z-index: 9999"
    >{{ msgError }}</v-alert
  >
</template>

<script>
export default {
  name: "Error",

  props: ["msgError"],
};
</script>
