<template>
  <v-container>
    <Error v-show="msgError" :msgError="msgError" />
    <h2 class="text-center my-5">Anime Information</h2>
    <v-card
      class="mx-auto"
      elevation="2"
      outlined
      max-width="50%"
      :loading="loading"
    >
      <v-card-text class="mt-5">
        <v-form v-model="valid">
          <v-text-field
            type="text"
            label="Nome"
            dense
            required
            outlined
            v-model="anime.name"
          >
          </v-text-field>
          <v-select
            :items="situationList"
            label="Situação"
            dense
            outlined
            required
            v-model="anime.situation"
          ></v-select>
          <v-text-field
            type="number"
            min="1"
            label="Nº de Episódios"
            dense
            outlined
            v-model="anime.numberEp"
          >
          </v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions class="justify-center" style="margin-top: -30px">
        <v-btn color="error darken-1" text @click="dialog = true">
          <v-icon>mdi-delete</v-icon>
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn color="error" text @click="handleCancel">Cancelar</v-btn>
        <v-btn color="success" text @click="handleSave">Salvar</v-btn>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title class="text-h5">
          Deletar este anime de sua lista?
        </v-card-title>
        <v-divider class="mb-5"></v-divider>
        <v-card-actions class="justify-center" style="margin-top: -15px">
          <v-btn color="error" text @click="dialog = false">Não</v-btn>
          <v-btn color="success" text @click="handleDelete">Sim</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import Error from "@/components/Error.vue";
import { errorMixin } from "@/mixins/errorMixin";

export default {
  components: {
    Error,
  },

  mixins: [errorMixin],

  data: () => ({
    id: null,
    loading: false,
    anime: new Object(),
    temporary: null,
    valid: false,
    dialog: false,
    situationList: ["Assistindo", "Completo", "Pretendo assistir"],
  }),

  beforeMount() {
    this.id = this.$route.params.id;
    this.loading = true;

    this.$http
      .get(`/animes/${this.id}`)
      .then((response) => {
        this.anime = { ...response.data.anime };
        this.temporary = { ...response.data.anime };
      })
      .catch((error) => {
        this.configError(error);
      })
      .then(() => (this.loading = false));
  },

  methods: {
    handleCancel() {
      this.anime = { ...this.temporary };
    },

    handleSave() {
      this.$http
        .put(`/animes/${this.id}`, this.anime)
        .then((response) => {
          this.temporary = { ...response.data.anime };
          this.anime = { ...response.data.anime };
        })
        .catch((error) => {
          this.configError(error);
        })
        .then(() => (this.loading = false));
    },

    handleDelete() {
      this.loading = true;
      this.dialog = false;

      this.$http
        .delete(`/animes/${this.id}`)
        .then(() => {
          this.loading = false;
          this.$router.go(-1);
        })
        .catch((error) => {
          this.configError(error);
        });
    },
  },
};
</script>
