<template>
  <v-container>
    <Error v-show="msgError" :msgError="msgError" />
    <h2 class="text-center my-5">{{ name }} Anime List</h2>
    <v-card>
      <v-row no-gutters align="center" justify="space-around">
        <v-col cols="10">
          <v-text-field
            class="mx-5"
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          >
          </v-text-field>
        </v-col>
        <v-col cols="1" class="pt-3">
          <v-btn fab small color="primary" elevation="3" @click="dialog = true">
            <v-icon>mdi-plus-thick</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-divider class="mt-5"></v-divider>
      <v-data-table
        dense
        :headers="headers"
        :items="items"
        :search="search"
        :items-per-page="100"
        :loading="loading"
        loading-text="Carregando... Aguarde, por favor."
        no-data-text="Sem animes cadastrados."
        no-results-text="Anime não localizado."
        :footer-props="{
          'items-per-page-text': 'Itens por página',
          'items-per-page-options': [100, 200, 400],
        }"
        @click:row="handleEdit"
      >
      </v-data-table>
    </v-card>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title class="text-h5">
          Olá, vamos adicionar um novo anime a sua lista?
        </v-card-title>
        <v-divider class="mb-5"></v-divider>
        <v-card-text>
          <v-form v-model="valid">
            <v-text-field
              type="text"
              label="Nome"
              dense
              required
              outlined
              v-model="anime.name"
            >
            </v-text-field>
            <v-select
              :items="situationList"
              label="Situação"
              dense
              outlined
              required
              v-model="anime.situation"
            ></v-select>
            <v-text-field
              type="number"
              min="1"
              label="Nº de Episódios"
              dense
              outlined
              v-model="anime.numberEp"
            >
            </v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions style="margin-top: -30px">
          <v-spacer></v-spacer>
          <v-btn color="error darken-1" text @click="handleCancel">Não</v-btn>
          <v-btn color="success" text @click="handleSave">Sim</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import Error from "@/components/Error.vue";
import { errorMixin } from "@/mixins/errorMixin";

export default {
  components: {
    Error,
  },

  mixins: [errorMixin],

  data: () => ({
    name: null,
    loading: false,
    search: null,
    dialog: false,
    valid: false,
    anime: new Object(),
    headers: [
      { text: "Nome", align: "start", value: "name" },
      { text: "Situação", value: "situation" },
      { text: "Nº de Ep.", value: "numberEp" },
    ],
    items: [
      {
        id: "dsjflksjl",
        name: "Jujutsu Kaisen",
        situation: "Assistido",
        numberEp: "Não informado",
      },
    ],
    situationList: ["Assistindo", "Completo", "Pretendo assistir"],
  }),

  beforeMount() {
    this.name = this.$store.getters.name;

    this.createAnimeList();
  },

  methods: {
    handleEdit(row) {
      this.$router.push({ path: `/anime/${row.id}` });
    },

    handleCancel() {
      this.anime = new Object();
      this.dialog = false;
    },

    handleSave() {
      this.loading = true;
      this.dialog = false;

      this.$http
        .post("/animes", this.anime)
        .then(() => {
          this.createAnimeList();
          this.anime = new Object();
        })
        .catch((error) => {
          this.configError(error);
        })
        .then(() => {
          this.loading = false;
        });
    },

    createAnimeList() {
      this.items = new Array();

      this.$http
        .get("/animes")
        .then((response) => {
          let respData = response.data.animeList;
          respData.forEach((anime) => {
            const { name, situation, numberEp } = anime;

            this.items.push({
              id: anime._id,
              name,
              situation,
              numberEp: numberEp !== undefined ? numberEp : 0,
            });
          });
        })
        .catch((error) => {
          this.configError(error);
        })
        .then(() => (this.loading = false));
    },
  },
};
</script>
