<template>
  <v-container>
    <Error v-show="msgError" :msgError="msgError" />
    <h1 class="text-center my-10">C.R.U.D Anime List</h1>
    <v-card
      class="mx-auto"
      elevation="2"
      outlined
      max-width="40%"
      :loading="loading"
    >
      <v-card-title class="justify-center">Login</v-card-title>
      <v-card-text>
        <v-form v-model="valid">
          <v-text-field
            type="email"
            label="E-mail"
            placeholder="exemplo@exemplo.com"
            :rules="emailRules"
            required
            outlined
            v-model="user.email"
          >
          </v-text-field>
          <v-text-field
            :type="show ? 'text' : 'password'"
            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
            label="Senha"
            required
            outlined
            v-model="user.password"
            @click:append="show = !show"
          ></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions
        class="justify-center px-8 flex-wrap"
        style="margin-top: -30px"
      >
        <v-btn
          @click="handleLogin"
          :disabled="user.password && valid ? false : true"
          elevation="2"
          color="success"
          block
        >
          Acessar
        </v-btn>
        <router-link class="mt-5" to="/cadastro">
          Clique aqui para realizar seu cadastro
        </router-link>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import Error from "@/components/Error.vue";
import { errorMixin } from "@/mixins/errorMixin";

export default {
  data: () => ({
    loading: false,
    user: new Object(),
    emailRules: [(v) => /.+@.+\..+/.test(v) || "E-mail deve ser válido."],
    show: false,
    valid: true,
  }),

  components: {
    Error,
  },

  mixins: [errorMixin],

  methods: {
    handleLogin() {
      this.loading = true;

      this.$store
        .dispatch("login", this.user)
        .then((response) => {
          let respData = response.data;
          if (respData.token) {
            this.$router.push({ path: "/home" });
          }
        })
        .catch((error) => {
          this.configError(error);
        })
        .then(() => (this.loading = false));
    },
  },
};
</script>
