<template>
  <v-container>
    <Error v-show="msgError" :msgError="msgError" />
    <v-card
      class="mx-auto mt-15"
      elevation="2"
      outlined
      max-width="40%"
      :loading="loading"
    >
      <v-card-title class="justify-center">Cadastro</v-card-title>
      <v-card-text>
        <v-form v-model="valid">
          <v-text-field
            type="text"
            label="Nome"
            required
            outlined
            v-model="newUser.name"
          >
          </v-text-field>
          <v-text-field
            type="email"
            label="E-mail"
            placeholder="exemplo@exemplo.com"
            :rules="emailRules"
            required
            outlined
            v-model="newUser.email"
          >
          </v-text-field>
          <v-text-field
            :type="show ? 'text' : 'password'"
            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
            label="Senha"
            required
            outlined
            v-model="newUser.password"
            @click:append="show = !show"
          ></v-text-field>
          <v-text-field
            :type="show1 ? 'text' : 'password'"
            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
            label="Confirmação de senha"
            required
            outlined
            v-model="passConfirm"
            @click:append="show1 = !show1"
          ></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions
        class="justify-center px-8 flex-wrap"
        style="margin-top: -30px"
      >
        <v-btn
          @click="handleRegister"
          :disabled="disabled"
          elevation="2"
          color="success"
          block
        >
          Cadastrar
        </v-btn>
        <router-link class="mt-5" to="/login">
          Clique aqui para acessar a página de Login
        </router-link>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import Error from "@/components/Error.vue";
import { errorMixin } from "@/mixins/errorMixin";

export default {
  components: {
    Error,
  },

  mixins: [errorMixin],

  data: () => ({
    loading: false,
    valid: false,
    newUser: new Object(),
    emailRules: [(v) => /.+@.+\..+/.test(v) || "E-mail deve ser válido."],
    show: false,
    show1: false,
    passConfirm: null,
  }),

  computed: {
    disabled() {
      if (this.passConfirm === this.newUser.password && this.valid) {
        return false;
      }

      return true;
    },
  },

  methods: {
    handleRegister() {
      this.loading = true;
      this.$store
        .dispatch("register", this.newUser)
        .then((response) => {
          let respData = response.data;
          if (respData.token) {
            this.$router.push({ path: "/home" });
          }
        })
        .catch((error) => {
          this.configError(error);
        })
        .then(() => (this.loading = false));
    },
  },
};
</script>
